html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  &:has(.menu:target) {
    overflow: hidden;
  }
}

* {
  transition: all ease 0.3s;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
